<!DOCTYPE html>
<html ng-app="phonecatApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js" ></script>
  <script src="app.js" ></script>
  <script src="phone-list.component.js"></script>
</head>
<body ng-controller="PhoneListController">

    <phone-list></phone-list>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">

      Search: <input ng-model="$ctrl.query" />

    </div>
    <div class="col-md-10">
      <!--Body content-->
      {{$ctrl.query}}
      
      <ul class="phones">
        <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query">
          <span>{{phone.name}}</span>
          <p>{{phone.snippet}}</p>
        </li>
      </ul>
<phone-list></phone-list>
    </div>
  </div>
</div>


</body>
</html>