<a href="#/">revenir aux articles</a>
<h1>{{title}}</h1>

<div ng-controller="CommentsCtrl">

<input type ="text" ng-model="query"/>
{{query}}
<select ng-model="order">
<option value ="username">organiser par nom</option>
<option value ="contention">organiser par contenu</option>
</select>

</div>
<div ng-repeat="comment in comments | filter:{content:query} |orderBy :order">
    <p><strong>{{comment.username}}</strong>{{comment.content}}</p>
</div>
<div>
<form ng-submit ="addComment()">ajouter un commentaire
    <div class="form-group">
<input class ="form-control" type ="text" placeholder="username" ng-model="NewComment.username"/></div>
<div class="form-group">
<input type ="text" placeholder="city" ng-model="NewComment.city"/></div>
<div class="form-group"></div>
<input type ="text" placeholder="email" ng-model="NewComment.email"/></div>
<textarea ng-model="NewComment.content"></textarea>
<input type ="submit" value ="envoyer le formulaires"/>
</form>
</div>
</form>
<div>
